<mat-card appearance="outlined" class="m-5 p-5" style="border-radius: 20px">
  <div class="text-center">
    <h1 class="mb-4 fw-bold fs-2">
      Weather App
      <span
        ><img
          src="../../../assets/icons/weatherIcon.webp"
          alt="Weather App"
          style="width: 100px; height: 100px"
      /></span>
    </h1>
    <input
      class="p-2 me-2"
      style="border-radius: 5px; border: 1px solid gray; width: 250px"
      type="text"
      [(ngModel)]="city"
      placeholder="Enter city name"
    />
    <button
      class="p-2"
      style="border-radius: 5px"
      class="btn btn-primary"
      (click)="getWeather()"
    >
      Get Weather
    </button>
    <div *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>
  </div>
  <mat-card-content>
    <div
      class="mt-5 p-3"
      style="border: 1px solid grey; border-radius: 10px; width: 33%"
      *ngIf="weather"
    >
      <h2 class="fw-bold">{{ weather.name }}</h2>
      <img
        [src]="getWeatherIconUrl(weather.weather[0].icon)"
        alt="Weather icon"
      />
      <p>Temperature: {{ weather.main.temp }} °C</p>
      <p>Weather: {{ weather.weather[0].description }}</p>
      <p>Feels Like: {{ weather.main.feels_like }}</p>
    </div>
  </mat-card-content>
</mat-card>
